/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    transition: background-color 1s ease-in-out;
}

header {
    padding: 50px 0;
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    text-align: center;
}

input[type="text"] {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 1.2em;
    text-align: center;
}

button {
    padding: 15px 30px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #16a085;
}

/* Weather Cards Container */
.weather-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}

.weather-card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    text-align: center;
    margin-top: 20px;
    max-width: 250px;
}

.weather-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.temperature {
    font-size: 2.5em;
    color: #e74c3c;
}

.details {
    font-size: 1.2em;
    color: #7f8c8d;
}

.weather-card i {
    font-size: 3em;
    color: #3498db;
    margin-bottom: 10px;
}

/* Responsive Styling */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    header {
        font-size: 2.5em;
    }

    .weather-card {
        padding: 20px;
    }
}
