/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    transition: background-color 1s ease-in-out;
    background: #f7f7f7;
}

/* Button Styles */
.button-container {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.btn {
    background-color: #3498db;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-weight: bold;
}

.btn:hover {
    background-color: #2980b9;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/* Autocomplete Suggestions Dropdown */
.suggestions-dropdown {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    z-index: 999;
    margin-top: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.suggestions-dropdown li {
    padding: 10px;
    cursor: pointer;
}

.suggestions-dropdown li:hover {
    background-color: #f0f0f0;
}

/* Weather Cards Container */
.weather-cards-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns to fit all weather cards in one line */
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}

.weather-card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    text-align: center;
    min-width: 150px;
}

.weather-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.temperature-average {
    font-size: 1.2em;
    color: #e74c3c;
    margin-bottom: 5px;
}

.weather-card i {
    font-size: 3em;
    color: #f39c12; /* Sun color */
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .weather-cards-container {
        grid-template-columns: repeat(2, 1fr); /* Adjust for smaller screens */
    }

    .btn {
        font-size: 1em;
        padding: 10px 15px;
    }
}
